# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64

Cython==0.29.7
hmms==0.1
ipywidgets==7.2.1
matplotlib==3.0.2
numpy==1.16.0
pandas==0.24.0
scipy==1.1.0
sympy==1.1.1
